body {
  background-color: lightyellow;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 20px;
}
hr {
  border-color: black;
}
.ireland {
  color: green;
  font-weight: bolder;
}
h1 {
  text-align: center;
}
a:hover {
  color: red;
}
.note {
  color: red;
  font-weight: bolder;
  background-color: lightgreen;
  padding: 40px;
}
p {
  text-align: justify;
}
table {
  background-color: black;
}
th {
  background-color: lightblue;
  padding: 25px;
}
tr {
  padding: 50px;
}
/* .navbar {
  list-style-type: none;
  background-color: lightgreen;
  text-align: center;
  font-size: 40px;
}
li:hover {
  color: white;
  background-color: black;
} */
a:hover {
  color: red;
}
a {
  color: black;
}
